div.banner {
  width: 100%;
  height: 60px;
  background-color: grey;
}
header > div.banner > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
div.logo > a {
  display: inline-block;
  direction: rtl;
  margin-top: 20px;
  position: absolute;
  right: 20px;
}

div.search{
 width: 40%;
 height: 40px;
 background-color: #aa9d9d;
 border-radius: 7px ;
 margin-top: 20px;
 position: absolute;
 top: 60px;
 right: 150px;
 
}
div.search>input{
  width: 90%;
  height: inherit;
 position: absolute;
 top: 0;
 left: 0;
  border: none;
  background-color: transparent;
  outline: none;
 direction: rtl;
 font-size: 15px;

}
div.search>button{
  width: 10%;
  height: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}
div.search>button>img{
  width: 25px;
  height: 25px;
  direction: rtl;
}

button.login{
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: bolder;
  line-height: 40px;
  margin-top: 10px;
  background-color: white;
  border-radius: 7px;
  border: 1px solid #ccc4c4;
  cursor: pointer;
  
}



img.Login{
  width: 20px;
  height: 20px;
  background-color: transparent;
  margin-left: 5px;
}
img.login1{
  width: 50px;
  height: 50px;
  background-color: transparent;
}
button.login1{
  
  all: unset;
  border-right: 1px solid whitesmoke;
  cursor: pointer;
}
div.baby{
  width: 100%;
  height: 150px;
  background-color: transparent;
  margin-top: 30px;
  text-align: center;
}
div.baby>a>img{
  width: 70px;
  height: 70px;
  margin: 50px;
}





