@import "header.css";
@import "./menu.css";
@import "./swiper1.css";
@import "./slider.css";
@import "./Footer.css";



::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: #cccbcb;
  width: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@font-face {
  font-family: Yekan;
  src: url(../font/Yekan.woff);
}


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Yekan;
  scroll-behavior: smooth;
}
.swiper {
  width: 100%;
  height: 70vh;
  margin-top: 100px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
}



