

div.menu{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: absolute;
    top: 110px;
}
div.menu>nav{
    width: inherit;
    height: inherit;
}
div.menu>nav>ul{
    direction: rtl;
    padding-right: 20px;
    margin-top: 20px;
    
}
div.menu>nav>ul>li{
    display: inline-block;
    list-style: none;
    padding-right: 30px
}
div.menu>nav>ul>li>a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: #626671;
}
div.menu>nav>ul>li>div.Sort{
    width: 95%;
    padding: 50px;
    height: 600px;
    background-color: #917f7f;
    position: absolute;
    right: 20px;
    top: 40px;
    display: none;
}
div.menu>nav>ul>li:hover>div.Sort{
    display: block;
}
div.menu>nav>ul>li>div.Sort>ul>li{
    list-style-type: none;
}
div.menu>nav>ul>li>div.Sort>ul>li>a{
    text-decoration: none;
    color: #34363d;
    font-weight: bold;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile{
    width: 300px;
    padding: 20px;
    display: none;
    position: absolute;
    right: 200px;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile>ul>li.brands{
    list-style: none;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile>ul>li.brands>a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: black;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile>ul>li{
    list-style: none;

}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile>ul>li>a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}

div.menu>nav>ul>li>div.Sort>ul>li>div.mobile1{
    width: 300px;
    padding: 20px;
    display: none;
    position: absolute;
    right: 550px;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile1>ul>li.Price,div.menu>nav>ul>li>div.Sort>ul>li>div.mobile2>ul>li.Price{
    list-style: none;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile1>ul>li.Price>a,div.menu>nav>ul>li>div.Sort>ul>li>div.mobile2>ul>li.Price>a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: black;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile1>ul>li,div.menu>nav>ul>li>div.Sort>ul>li>div.mobile2>ul>li{
    list-style: none;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile1>ul>li>a,div.menu>nav>ul>li>div.Sort>ul>li>div.mobile2>ul>li>a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile2{
    width: 300px;
    padding: 20px;
    display: none;
    position: absolute;
    right: 910px;
}
div.menu>nav>ul>li>div.Sort>ul>li:hover>div.mobile,div.menu>nav>ul>li>div.Sort>ul>li:hover>div.mobile1,div.menu>nav>ul>li>div.Sort>ul>li:hover>div.mobile2{
    display: block;
}