

div.menu{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: absolute;
    top: 140px;
}

div.first{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    position: absolute;
    left: -100%;
    top: 0;
    transition: 300ms;
   
}
div.first>div.first-1{
    width: 50%;
    height: 200px;
    padding: 50px;
    box-sizing: border-box;
    position: absolute;
    left: calc(50% - 50% / 2);
    top: calc(50% - 200px/2);
    background-color: grey;
}
label[for=show],label[for=hide]{
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: 5px;
    background-color: whitesmoke;
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    cursor: pointer;
    text-transform: capitalize;
    transition: 100ms;
    direction: rtl;
    position: absolute;
    top: 25px;
}
label[for=hide]{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -25px;
    top: -25px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;

}
/* label[for=show]:active,label[for=hide]:active{
    width: 140px;
    height: 35px; 
}*/
#show{
    appearance: none;
}
#hide{
    appearance: none;
}
#show:checked ~ div.first{
    left: 0;
}
#hide:checked ~ div.first{

}

















div.menu>nav{
    width: inherit;
    height: inherit;
}
div.menu>nav>ul{
    direction: rtl;
    padding-right: 20px;
    margin-top: 20px;
    
}
div.menu>nav>ul>li{
    display: inline-block;
    list-style: none;
    padding-right: 30px
}
div.menu>nav>ul>li>a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: #626671;
}
div.menu>nav>ul>li>div.Sort{
    width: 95%;
    padding: 50px;
    height: 600px;
    background-color: #917f7f;
    position: absolute;
    right: 20px;
    top: 40px;
    display: none;
}
div.menu>nav>ul>li:hover>div.Sort{
    display: block;
}
div.menu>nav>ul>li>div.Sort>ul>li{
    list-style-type: none;
    padding-bottom: 25px;
}
div.menu>nav>ul>li>div.Sort>ul>li>a{
    text-decoration: none;
    color: #34363d;
    font-weight: bold;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile{
    width: 300px;
    padding: 20px;
    display: none;
    position: absolute;
    right: 200px;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile>ul>li.brands{
    list-style: none;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile>ul>li.brands>a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: black;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile>ul>li{
    list-style: none;

}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile>ul>li>a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}

div.menu>nav>ul>li>div.Sort>ul>li>div.mobile1{
    width: 300px;
    padding: 20px;
    display: none;
    position: absolute;
    right: 550px;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile1>ul>li.Price,div.menu>nav>ul>li>div.Sort>ul>li>div.mobile2>ul>li.Price{
    list-style: none;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile1>ul>li.Price>a,div.menu>nav>ul>li>div.Sort>ul>li>div.mobile2>ul>li.Price>a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: black;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile1>ul>li,div.menu>nav>ul>li>div.Sort>ul>li>div.mobile2>ul>li{
    list-style: none;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile1>ul>li>a,div.menu>nav>ul>li>div.Sort>ul>li>div.mobile2>ul>li>a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
div.menu>nav>ul>li>div.Sort>ul>li>div.mobile2{
    width: 300px;
    padding: 20px;
    display: none;
    position: absolute;
    right: 910px;
}
div.menu>nav>ul>li>div.Sort>ul>li:hover>div.mobile,div.menu>nav>ul>li>div.Sort>ul>li:hover>div.mobile1,div.menu>nav>ul>li>div.Sort>ul>li:hover>div.mobile2{
    display: block;
}
button.city{
    width: 200px;
    height: 40px;
    position: absolute;
    left: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
}
img.city{
    width: 20px;
    height: 20px;
  }
  button.city>div.city>p{
    font-size: 15px;
    font-weight: bolder;
    
  }
  