.anchor {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.headtitrdiv {
  width: 100%;
  height: 70px;
  background-color: transparent;
  text-align: center;
}
.headtitrh2 {
  font-size: 22px;
  font-weight: 100;
}
.fsuggestion {
  display: inline-block;
}
.imgsuggestion {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.fcsug {
  color: grey;
  font-size: 14px;
}
.cursor{
  cursor: pointer;
}
div.slider {
  width: 98%;
  padding: 10px;
  text-align: center;
}
div.slider > a > img {
  width: 300px;
  margin: 5px 10px;
  border-radius: 10px;
}
div.dastebandi {
  width: 100%;
  height: 70px;
  background-color: transparent;
  text-align: center;
}
div.dastebandi > h2 {
  font-size: 22px;
  font-weight: 100;
}
div.Daste1 {
  width: 100%;
  height: 500px;
  text-align: center;
}

div.Daste1 > figure > a > img {
  width: 170px;
  height: 170px;
  display: inline-block;
}
div.Daste1 > figure {
  display: inline-block;
}
div.middle {
  width: 100%;
  padding: 0;
  text-align: center;
  margin: 10px auto;
  max-width: 1300px;
}
div.middle > img {
  width: 620px;
  height: 236px;
  margin: 0 7px;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
div.suggestion {
  width: 100%;
  padding: 5px;
  background-color: transparent;
  max-width: fit-content;
  margin: 0 auto;
}
div.suggestion > table {
  width: 100%;
  border: 1px solid #dddada;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
div.fbrands {
  width: 95%;
  padding: 20px;
  text-align: center;
  border: 2px solid rgb(211, 211, 211);
  border-radius: 10px;
  margin: 20px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
div.fbrands > h2 {
  font-size: 22px;
  font-weight: 100;
  margin-top: -10px;
}
div.fbrands > img {
  width: 110px;
  height: 110px;
  cursor: pointer;
  margin: 0 13px;
}
div.Parent {
  width: 95%;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}
div.Parent > div.child {
  display: inline-block;
  width: 20%;
  margin: 0 20px;
  text-align: right;
}
div.Parent > div.child > h3 {
  font-size: 15px;
}
div.Parent > div.child > p {
  font-size: 12px;
  margin-top: -14px;
}
div.Parent > div.child > img {
  cursor: pointer;
}
div.Parent > div.child > a {
  text-decoration: none;
  color: #48d0e2;
  padding-bottom: 10px;
}
div.digiplusbanner {
  width: 95%;
  margin: 20px auto;
}
div.digiplusbanner > a > img {
  margin: 0 auto;
  border-radius: 10px;
}
div.PorForoosh {
  width: 95%;
  border: 1px solid grey;
  margin: 20px auto;
  border-radius: 10px;
  text-align: center;
}
div.PorForoosh > h2 {
  font-size: 22px;
  font-weight: 100;
}
div.PorForoosh > img {
  cursor: pointer;
}
div.Qablame {
  width: 95%;
  margin: 20px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
div.Qablame > img {
  width: 100%;
  height: inherit;
  border-radius: 10px;
}
div.montakhab{
  width: 95%;
  margin: 20px auto;
  text-align: center;
}
div.montakhab>h2{
  font-size: 22px;
  font-weight: 100;
}
div.montakhab>table{
  
  
}
div.montakhab>h6{
  cursor: pointer;
  font-size: 14px;
  color: #48d0e2;
}
